.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: roboto;
  font-size: 50px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn{
  background-color: #88A62B; /* Verde corporativo */
  padding: 10px 25px;
  border-radius: 15px;
  color: #fff !important;
  margin-right: 8px;
}

.btn:hover {
  background-color: #cdd006;
  color: #fff;
  text-decoration: none;
}

.fondo-grocery{
  background-image: asset-url("bg_body1.jpg");
  background-size: cover;
  background-position: center top;
}

 i{
  font-size: 40px;
}

.caja-categorias{
  margin-top: 90px;
  margin-bottom: 90px;
}
body{
  min-height: 100vh;
}
