<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_home.jpg' %>);">
  <div class="container">
    <h1><strong>SABOR DE CALIDAD</strong></h1>
    <h1><strong>HASTA EL ULTIMO</strong></h1>
    <h1><strong>SEGUNDO</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Conocer más</a>
  </div>
</div>
