<div class="container-fluid d-flex justify-content-center">
  <div style="width: 80%;">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-car mb-2"></i>
                  <h4>FRESCOS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-bicycle mb-2"></i>
                  <h4>PROCESADOS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-bus mb-2"></i>
                  <h4>GRANOS Y CEREALES</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-train mb-2"></i>
                  <h4>BEBIDAS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-plane mb-2"></i>
                  <h4>CONGELADOS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-ship mb-2"></i>
                  <h4>PANADERIA Y REPOSTERIA</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-motorcycle mb-2"></i>
                  <h4>DIETETICOS Y SUPLEMENTOS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-scooter mb-2"></i>
                  <h4>ORGANICOS</h4>
                </div>
              </div>
              <div class="col-md-4 card d-flex align-items-center justify-content-center">
                <div class="text-center">
                  <i class="fas fa-walking mb-2"></i>
                  <h4>VEGETARIANOS Y VEGANOS</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
</div>
