<div class="container mt-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto 1</h5>
                    <p class="card-text">Precio: $100.00</p>
                    <p class="card-text">Fecha de Caducidad: 01/01/2024</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto 2</h5>
                    <p class="card-text">Precio: $150.00</p>
                    <p class="card-text expiration-date" data-controller="counter" data-expiration-value="2023-09-01">Días para vencer: <span></span></p>
                </div>
            </div>
        </div>


        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto 3</h5>
                    <p class="card-text">Precio: $200.00</p>
                    <p class="card-text">Fecha de Caducidad: 01/12/2024</p>
                </div>
            </div>
        </div>

    </div>
</div>
