<footer class= "mt-5">
        <div class="footer-section">
          <div class="footer-logo">
            <%= image_tag("LOGO.png") %>
          </div>
        </div>
        <div class="footer-section">
            <p><strong>Ubicación:</strong> Chile, México, Argentina</p>
            <p><strong>Teléfono:</strong> +123-456-7890</p>
        </div>
        <div class="footer-section">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contáctanos</a>
        </div>
        <div class="footer-section footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
</footer>
