.word-rotator {
  position: relative;
  height: 40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;

  span {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    opacity: 0; // El texto empezará siendo invisible
    color: #88A62C;
    animation: fadeInEffect 5s forwards; // La animación durará 5 segundos y solo se realizará una vez
  }
}

@keyframes fadeInEffect {
  0% {
    opacity: 0; // Invisible al inicio
  }
  100% {
    opacity: 0.8; // Y se mostrará con una opacidad de 0.8 al finalizar la animación
  }
}

