footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 20px 50px;
  bottom: -100;
  width: 100vw;
}

.footer-section {
  flex: 1; /* Esto permite que las columnas ocupen el mismo espacio */
  padding: 0 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

footer a:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #88A62B;
  opacity: 1;
}
