
.card-section-title { /* Texto bicolor */
  margin-bottom: 50px;
  margin-top: 70PX;
  font-size: 32px;
  font-family: roboto;
  font-weight: 800;
}

.green-text { /* Texto bicolor */
  color: #88A62B;
}

.card-title {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: roboto;
  text-align: center;
}

.card-description {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
}

#section-information{
  margin-top: 170px;
  font-family: roboto;
  font-size: 30px;
}

#section-information > h2{
  padding-left: 34px;
}

.intervalo-line{
  border-left: 5px dotted #88A62B;
  margin-right: 25px;
}
