.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position: sticky;
  z-index: 3;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link-login {
  background-color: #88A62B; /* Verde corporativo */
  padding: .5rem 1.2rem;
  border-radius: 15px;
  color: #fff !important;
  margin-right: 8px;
}
.nav-link-login:hover{
  background-color: #cdd006;
}

#dropdown-title{
  color: white;
}
#dropdown-title:hover{
  color: $primary;
}
.color-link{
  color: white;
}
.color-link:hover {
  color: $primary;
}

.navbar-nav > li {
  margin-right: 15px;
}
