.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position: sticky;

  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.change_white{
  color: #fff;
}

.nav-link-login {
  background-color: #88A62B; /* Verde corporativo */
  padding: 10px 25px;
  border-radius: 15px;
  color: #fff !important;
  margin-right: 8px;
}

.navbar-nav > li {
  margin-right: 15px;
}
