.product-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.product-img-top {
  height: 180px;
  object-fit: cover;
}

.product-card-body {
  padding: 20px;
}

.card-informacion-title {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 32px;
  font-family: roboto;
  font-weight: 800;
}

.container_products{
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 100px;
}

.product-card-title {

}

.product-card-text {

}
