<div class="container">
  <h1>Mis ventas</h1>

    <% @ventas.each do |venta| %>
      <div class="card w-100">
        <div class="card-header">
          Fecha: <%= venta.created_at %>
        </div>
        <div class="card-body d-flex justify-content-between">
        <div class='d-flex'>
          <h5 class="card-title me-3"><%= venta.product.name %></h5>
          <p class="card-text">Precio: $<%= venta.product.price %></p>
        </div>
          <%= link_to "Ver venta", transaction_path(venta.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>
