<div class="container">
  <h1>Mis compras</h1>

    <% @compras.each do |compra| %>
      <div class="card w-100">
        <div class="card-header">
          Fecha: <%= compra.created_at %>
        </div>
        <div class="card-body d-flex justify-content-between">
        <div class='d-flex'>
          <h5 class="card-title me-3"><%= compra.product.name %></h5>
          <p class="card-text">Precio: $<%= compra.product.price %></p>
        </div>
          <%= link_to "Ver compra", transaction_path(compra.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
